/* Variables CSS */

:root {
    --color-texto: black;
    --color-fondo-1: rgb(235, 235, 235);
    --color-texto-titulo: white;
    --color-fondo-titulo: black;
    --color-rayas: lightgray;

    --margen: 1rem;
}

/* Generales */

* {
    box-sizing: border-box;
}

body {
    margin: var(--margen);
    font-family: sans-serif;

    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #4da7d1;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

kbd,
code {
    background: var(--color-fondo-titulo);
    color: var(--color-texto-titulo);

    font-family: monospace;
    font-weight: bold;
    padding: 2px 4px;

    border-radius: 3px;
}

code {
    background: var(--color-fondo-1);
    color: var(--color-texto);
}

/* Clases */

.destacado {
    font-variant: small-caps;
}

/* Cabecera y pie */

body > header {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: bold;
    text-align: center;
}

body > header,
body > footer {
    background: var(--color-fondo-titulo);
    color: var(--color-texto-titulo);
    /* margin: 1rem 2rem 3rem 4rem;  margin-top: 1rem; margin-right: 2rem; margin-bottom: 3rem; margin-left: 4rem; */
    /* margin: 1rem 2rem 3rem;  margin-top: 1rem; margin-right: 2rem; margin-left: 2rem; margin-bottom: 3rem; */
    /* margin: 1rem 2rem;  margin-top: 1rem; margin-bottom: 1rem; margin-right: 2rem; margin-left: 2rem; */
    /* margin: 1rem;  margin-top: 1rem; margin-right: 1rem; margin-bottom: 1rem; margin-left: 1rem; */

    padding: var(--margen);
}

/* Menú */

body > nav {
    position: sticky;
    top: 0;

    z-index: 10000;

    background: var(--color-fondo-titulo);

    padding: calc(var(--margen) / 4);
}

body > nav ul {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}

body > nav li {
    display: inline;

    width: 100%;
    /* flex-grow: 1; */
}

body > nav li:last-of-type {
    margin-left: auto;
}

body > nav a,
footer a {
    display: inline-block;

    width: 100%;

    text-align: center;

    padding: var(--margen);

    color: var(--color-texto-titulo);

    text-decoration: none;
}

body > nav a:hover,
footer a:hover {
    color: var(--color-fondo-titulo);
    background: var(--color-texto-titulo);
}

header,
body > nav,
h2,
h3,
h4,
h5,
h6,
p {
    margin: var(--margen) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h3::before {
    content: "<<";
}
h3::after {
    content: ">>";
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
}

pre {
    font-family: monospace;
    font-size: 1rem;

    background: var(--color-fondo-1);

    padding: var(--margen);

    overflow: auto;
}

section {
    border-bottom: 2px solid var(--color-rayas);
}

ul {
    list-style: disc;
    margin: 1rem;
}

ol {
    list-style: upper-alpha;
    margin: 1rem;
}

dl {
    margin: 1rem 0;
}

dt {
    font-weight: bold;
}

dt::after {
    content: ": ";
}

dd {
    margin-left: var(--margen);
}

table {
    border: 1px solid var(--color-rayas);

    width: 100%;
}

table caption {
    background: var(--color-fondo-1);
    font-weight: bold;
}

th {
    font-weight: bold;
}

table caption,
th,
td {
    border: 1px solid var(--color-rayas);
    padding: calc(var(--margen) / 2);
}

thead,
tfoot {
    background: var(--color-fondo-titulo);
    color: var(--color-texto-titulo);
}

tr:nth-child(even) {
    background: var(--color-fondo-1);
}

th:first-of-type,
td:last-of-type {
    text-align: right;
}

figure,
img,
iframe,
audio,
video {
    width: 100%;

    /* border: 1px solid var(--color-rayas); */
    border-radius: var(--margen) var(--margen) var(--margen) var(--margen);
}

figure,
.aspecto4x3,
audio,
video {
    margin: var(--margen) 0;
}

.aspecto4x3 {
    position: relative;
    padding-bottom: 75%; /* (3/4) * 100 */
    height: 0;
}

.aspecto4x3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

legend {
    font-size: 1.1rem;
    font-weight: bold;

    padding: var(--margen) 0;
}

label {
    display: inline-block;
    width: 10rem;
    margin: calc(var(--margen) / 4) 0;
}

input,
select,
textarea,
button {
    width: 100%;

    border: 1px solid var(--color-rayas);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

aside {
    background-color: var(--color-fondo-1);

    /* margin: var(--margen); */
    padding: var(--margen);

    border-radius: 5px;
}

#html h2 {
    grid-area: titulo;
}

#titulos {
    grid-area: titulos;
}

#parrafos {
    grid-area: parrafos;
}

#listas {
    grid-area: listas;
}

#tablas {
    grid-area: tablas;
}

#multimedia {
    grid-area: multimedia;
}

#formularios {
    grid-area: formularios;
}

#html {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo"
        "titulos"
        "parrafos"
        "listas"
        "tablas"
        "multimedia"
        "formularios";
}

#arriba {
    position: fixed;
    bottom: 0;
    right: 0;

    background: var(--color-fondo-titulo);
    color: var(--color-texto-titulo);
}

#arriba:hover {
    background: var(--color-texto-titulo);
    color: var(--color-fondo-titulo);
}

body {
    padding-bottom: 3em;
}

@media (min-width: 768px) {
    body > nav ul {
        flex-direction: row;
    }

    body > nav li {
        width: auto;
    }

    #html {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titulo titulo"
            "titulos titulos"
            "parrafos parrafos"
            "listas tablas"
            "multimedia multimedia"
            "formularios formularios";
    }

    #multimedia,
    #formularios {
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
    }

    #multimedia {
        align-items: center;
    }

    #formularios {
        align-items: flex-start;
    }

    #formularios > :nth-child(3) {
        order: 3;

        flex-grow: 2;

        display: flex;
    }

    h3 {
        width: 100%;
    }

    #formularios > :nth-child(3) > *,
    #multimedia > *:not(h3),
    #formularios > *:not(h3) {
        width: calc(50% - 2 * var(--margen));
        margin: var(--margen);
    }

    /* #listas, #tablas, form, figure, .aspecto4x3, audio, video {
        display: inline-block;
        width: 49%;
        vertical-align: top;

        border: 0;
    } */

    .aspecto4x3 {
        padding-bottom: calc(75% / 2); /* (3/4) * 100 */
    }
}

@media (min-width: 1024px) {
    form div {
        display: flex;
    }

    form div > label {
        width: 30%;
        text-align: right;
        padding-right: var(--margen);
    }

    form div > input,
    form div > select,
    form div > textarea {
        width: 70%;
    }

    /* label {
        width: 29%;
        text-align: right;
        padding-right: var(--margen);
    }

    input, select, textarea {
        width: 69%;
    } */

    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        width: auto;
    }

    h2 {
        text-align: center;

        text-decoration: none;

        border-bottom: 1px solid var(--color-rayas);
    }

    /* #titulos, #parrafos {
        display: inline-block;
        vertical-align: top;

        border: 0;
    }

    #titulos {
        width: 19%;
    }

    #parrafos {
        width: 80%;
    } */

    #html {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "titulo titulo"
            "titulos parrafos"
            "listas tablas"
            "multimedia multimedia"
            "formularios formularios";
    }
}

@media (min-width: 1280px) {
    body > header {
        grid-area: cabecera;
    }

    body > nav {
        grid-area: menu;
    }

    body > main {
        grid-area: principal;
    }

    body > aside {
        grid-area: anuncios;
    }

    body > footer {
        grid-area: pie;
    }

    body {
        display: grid;
        /* grid-template-rows: auto; */
        grid-template-columns: 1fr auto;

        column-gap: var(--margen);
        row-gap: var(--margen);

        grid-template-areas:
            "cabecera cabecera"
            "menu menu"
            "principal anuncios"
            "pie pie";
    }

    /*
    main,
    aside {
        display: inline-block;

        vertical-align: top;
    }

    main {
        width: 80%;
    }

    aside {
        width: 19%;
    }
    */
}

@media (min-width: 1900px) {
    #html {
        grid-template-columns: 1fr 2fr 1fr 2fr;
        grid-template-areas:
            "titulo titulo titulo titulo"
            "titulos parrafos listas tablas"
            "multimedia multimedia multimedia multimedia"
            "formularios formularios formularios formularios";
        column-gap: var(--margen);
    }

    /*
    #titulos,
    #parrafos,
    #listas,
    #tablas {
        width: 24%;
    }
*/

    #multimedia > *:not(h3) {
        width: calc(33.3333% - 2 * var(--margen));
        margin: var(--margen);
    }

    form,
    figure,
    .aspecto4x3 {
        padding: var(--margen);
    }

    .aspecto4x3 {
        padding-bottom: calc(75% / 3); /* (3/4) * 100 */
    }
}
